
  
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cadastro de Usuários</title>
    
        <link rel="stylesheet" type="text/css" href="/assets/css/login.css">
    </head>
    
    <body>
        <div class="container-login">
            <div>
                <form class="devbook-form" id="formulario-cadastro">
                    <span>Crie a sua conta agora mesmo!</span>
                    <div>
                        <input type="text" name="nome" id="nome" placeholder="Digite o seu nome" required="required">
                    </div>
                    <div>
                        <input type="text" name="cpf" id="cpf" placeholder="Digite o seu cpf" required="required">
                    </div>
                    <a href="/login"> Clique aqui para fazer o login </a>
                    <button type="submit" class="btn-devbook">Cadastrar</button>
                </form>
            </div>
        </div>
        {{ template "scripts" }}
        <script src="/assets//js/cadastro.js"></script>
    </body>
    
    </html>